<div class="custom-select" [class.is-open]="isOpen()" [class.has-error]="hasError()">
  <button type="button" class="select-trigger" (click)="toggle()">
    <span [class.is-placeholder]="isPlaceholder()">{{ displayValue() }}</span>
    <span class="chevron">&rsaquo;</span>
  </button>

  @if (isOpen()) {
    <ul class="select-options" role="listbox">
      @for (option of options(); track option) {
        <li
          role="option"
          class="select-option"
          [class.is-selected]="isSelected(option)"
          (click)="selectOption(option)"
        >
          {{ option }}
        </li>
      }
    </ul>
  }
</div>
